Host github
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_github

Host githubdev
    HostName github-dev.cs.illinois.edu
    User git
    IdentityFile ~/.ssh/id_github_dev_pshome2

Host highwind ragnarok highwind
    HostName %h.cs.illinois.edu
    User pshome2
    IdentityFile ~/.ssh/id_fpsg

Host ews
    HostName linux.ews.illinois.edu
    User pshome2
    IdentityFile ~/.ssh/id_ews
    
